<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Google Drive Access Governance Email Tasks.">
        <link rel="icon" href="{{ url_for('static', filename='icons/main.ico') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/main.ico') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <title>Google Drive Access Governance Email Tasks</title>
    </head>
    <body onload="myFunction()">
	    {% extends "template.html" %}
        {% block content %}
        {% if newtask %}
        <div class="field-container">
			<div id="outer_form_div">
				<div class="form_div" style="padding: 0px;">
					<p class="form_title">Create Email Task</p>
					<div id="form_loader">&nbsp;</div>
					<noscript>
					   <p class="message">Please enable JavaScript to render this page. Otherwise it won't load.</p>
					</noscript>
					<div class="inner_form_div">
						<form class="form_prv" action="{{ url_for('domain_tasks') }}" method=post autocomplete="off">
							<input style="display: inline-block;" class="button_prv" name="return" type=submit value="< Return to Tasks">
						</form>
						<form class="form" action="{{ url_for('new_email_task') }}" method=post autocomplete="off">
							<dl>
								<dd>
									<p class="form_message"><strong>Info:</strong>&nbsp;The first three fields are mandatory, the last two are optional but if included please fill out both.</p>
								</dd>
								<dd>
									<input class="field_textarea" name=task_name placeholder="* Task Name" value="">
								</dd>
								<dd>
									<textarea name="task_emails" rows="10" cols="30" placeholder="* Enter email address(es) here, seperated by a new line."></textarea>
								</dd>
								<dd class="label_dd">
									<label>Do you want the supplied email addresses flagged if found or all other email addresses?</label>
								</dd>
								<dd class="post_label">
									<select class="bool_form" name="emailoptions" size="2">
										<option value="True">Other Email Addresses</option>
										<option value="False">Supplied Email Addresses</option>
									</select>
								</dd>
								<dd id="auto_label">
									<label>Auto-Certify Access for Flagged Users?:&nbsp;</label>
									<input onclick="autolabel(this, 'revoke-box')" type=checkbox id="certify-box" name=certify>
								</dd>
								<dd id="auto_label">
									<label>Auto-Revoke Access for Flagged Users?:&nbsp;</label>
									<input onclick="autolabel(this, 'certify-box')" type=checkbox id="revoke-box" name=revoke>
								</dd>
								<dd onclick="show_label()">
									<textarea name="task_directories" rows="10" cols="30" placeholder="Enter director(y/ies) here, seperated by a new line."></textarea>
								</dd>
								<dd style="display: none;" id="second_label" class="label_dd">
									<label>Should the search be confined to the directories supplied or avoid searching within them?</label>
								</dd>
								<dd id="second_options">
									<select id="bottom_bool_form" name="diroptions" size="2">
										<option value="True">Confine Search to Supplied Directories</option>
										<option value="False">Search should Avoid Supplied Directories</option>
									</select>
								</dd>
								<dd id="fin_input">
									<input style="display: inline-block;" class="button" name="finishtask" onclick="ShowLoader()" type=submit value="Create Task">
								</dd>
							</dl>
						</form>
						<script type="text/javascript">
							function show_label() {
								document.getElementById("second_label").style.display = "block";
								document.getElementById("bottom_bool_form").className='bool_form';
								document.getElementById("second_options").className='post_label';
							}

							function autolabel(element1, element2) {
								if(arguments[0].checked === true) {
									if (arguments[1] === "revoke-box"){
										var resp = confirm('Selecting this option will automatically certify access rights of flagged users. You can always manually certify rights for each discovered result later. Are you sure you want to use this option?');
										if (resp == false) {
											arguments[0].checked = false;
											return false;
										}
									} else if (arguments[1] === "certify-box") {
										var resp = confirm('Selecting this option will automatically revoke access rights of flagged users. You can always manually revoke rights for each discovered result later. Are you sure you want to use this option?');
										if (resp == false) {
											arguments[0].checked = false;
											return false;
										}
									}
									document.getElementById(arguments[1]).disabled = true;
								} else {
									document.getElementById(arguments[1]).disabled = false;
								}
							}
							
							function ShowLoader() {
							   document.getElementById("form_loader").style.display = "block";
							   setTimeout(HideLoader, 3000);
							}
							
							function HideLoader() {
							   document.getElementById("form_loader").style.display = "none";
							}
						</script>
					</div>
                </div>
            </div>
        </div>
        {% else %}
        <div id="loader">&nbsp;</div>
        <noscript>
            <p class="message">Please enable JavaScript to render this page. Otherwise it won't load.</p>
        </noscript>
        <p id="loader-message" class="loaderabout">Loading Email Tasks...</p>
        <div style="display: none;" style="margin:0;" id="fc" class="field-container">
            <table id="paginate">
                <thead>
                    <tr>
                        <th style="min-width: 40px;">ID</th>
                        <th>Name</th>
                        <th>Emails</th>
                        <th>Permitted</th>
                        <th>Auto Response</th>
                        <th>Directories</th>
                        <th>Included</th>
                        <th>Functions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Task in Tasks %}
                    <tr>
                        <td class="regulartab" style="min-width: 40px;">{{Task[0]}}</td>
                        <td class="regulartab">{{Task[1]}}</td>
                        <td class="regulartab">{{Task[3]}}</td>
                        <td class="regulartab">{{Task[4]}}</td>
                        <td class="regulartab">{{Task[5]}}</td>
                        <td class="regulartab">{{Task[6]}}</td>
                        <td class="regulartab">{{Task[7]}}</td>
                        <td class="buttons_in_tasks_table" id="tsk_in_tbl_btns">
                            {% if Task[2] == "Running" %}
                            <form class="task_buttons" action="" method=post autocomplete="off">
                                <input class="button-disabled" type=submit value="Run" disabled>
                            </form>
                            {% else %}
                            <form class="task_buttons" action="/tasks/email/run/{{Task[0]}}" method=post autocomplete="off">
                                <input class="button-run" type=submit value="Run">
                            </form>
                            {% endif %}
                            <form class="task_buttons" action="/tasks/email/delete/{{Task[0]}}" method=post autocomplete="off">
                                <input onclick="return confirm('Are you sure you want to delete task item {{Task[0]}}?');" class="button-red" type=submit value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <div id="bottom-form">
                <form action="/tasks/email/new" method=post autocomplete="off">
                    <input name="newtask" class="button" type=submit value="New Email Task">
                </form>
            </div>
            <script type="text/javascript">
            var myVar;

            function myFunction() {
              myVar = setTimeout(showPage, 1000);
            }

            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("loader-message").style.display = "none";
                document.getElementById("paginate").style.display = null;
                document.getElementById("fc").style.display = null;
                document.getElementsByTagName("INPUT")[0].placeholder='Search';
                document.getElementsByTagName("INPUT")[0].className='js_search';
            }
            </script>
        </div>
        {% endif %}
    	{% endblock %}
    </body>
</html>